{% extends "@theme/page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('assets/css/hljs/monokai.css') }}">
    <link rel="stylesheet" href="{{ url(pages['Site Styles']) }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block menu %}
    {% for item in menu | order("title") %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url(item) }}">{{ item.title }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block footer %}
    <p class="m-0 text-center">
        Built with <i class="fa fa-fw fa-heart text-danger"><span class="sr-only">love</span></i> using <a class="text-danger" href="https://stakx.io">Stakx</a>
    </p>
    {{ parent() }}
{% endblock %}
