{% extends "page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url('assets/css/hljs/tomorrow.css') }}">
    <link rel="stylesheet" href="{{ url('assets/css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock %}

{% block footer %}
    <div class="row">
        <div class="col-md-4">
            {{ parent() }}
        </div>
        <div class="col-md-4">
            <p class="text-center text-muted">Built with <i class="fa fa-fw fa-heart"></i> by Stakx</p>
        </div>
        <div class="col-md-4">
            <ul class="list-inline">
                <li>
                    <a href="{{ url('/') }}">Stakx</a>
                </li>
                {% for item in menu | order("title") %}
                    <li>
                        <a href="{{ url(item.url) }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}