---
collection: posts
permalink: /blog/%year/%month/%day/%title/
---

{% extends "_layouts/base.html.twig" %}

{% block content %}
    <article>
        <h2 id="{{ this.title | slug }}">{{ this.title }}</h2>

        <section>
            {{ this.content }}
        </section>

        <footer>
            <span><i class="fa fa-tag"></i></span>
            <a href="{{ url(repeaters['Blog Categories'], params = {
                'site.categories': this.category
            }) }}">{{ this.category | title }}</a>
        </footer>
    </article>
{% endblock %}
