---
collection: posts
permalink: /blog/%year/%month/%day/%title/
---

{% extends "_layouts/base.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
    <article>
        <h1 class="mb-5" id="{{ this.title | slug }}">{{ this.title }}</h1>

        <section class="written-content">
            {{ this.content | anchors(anchorBody='#') }}
        </section>

        <footer>
            <span><i class="fa fa-tag"></i></span>
            <a href="{{ url(repeaters['Blog Categories'], params = {
                'site.categories': this.category
            }) }}">{{ this.category | title }}</a>
        </footer>
    </article>
{% endblock %}
