---
title: Calendar
slug: A 2020 Calendar in Twig
permalink:
    - /calendar/
    - /cal/
---

{% extends "_layouts/base.html.twig" %}

{% macro calendar(given_date, special_days) %}
    {% set month = given_date | date('F') %}

    <table class="c-calendar">
        <thead>
            <tr>
                <th colspan="7" class="c-calendar__month">
                    <a href="{{ url('/calendar/' ~ (month | lower) ~ '/') }}">{{ month }}</a>
                </th>
            </tr>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% set daysInMonth = given_date | date('t') %}
                {% set startDow = given_date | date('F 1\\s\\t Y') | date('w') %}
                {% set dow = startDow %}

                {% for day in range(1, daysInMonth) %}
                    {% if loop.first and startDow != 0 %}
                        <td colspan="{{ startDow }}"></td>
                    {% endif %}

                    <td>
                        {% set hasEvent = false %}

                        {% for date in special_days[(month | lower)] %}
                            {% set currentDate = (given_date | date('Y-m-')) ~ ( "%02d" | format(day)) %}

                            {% if (date.date | date('Y-m-d')) == currentDate %}
                                {% set hasEvent = true %}
                            {% endif %}
                        {% endfor %}

                        <span class="{{ hasEvent ? 'date-available' : '' }}">{{ "%02d" | format(day) }}</span>
                    </td>

                    {% if loop.last and dow != 6 %}
                        <td colspan="{{ 6 - dow }}">&nbsp;</td>
                    {% endif %}

                    {% if dow == 6 %}
                        {% set dow = 0 %}

                        </tr>
                        <tr>
                    {% else %}
                        {% set dow = dow + 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    {% markdown %}
        On this page, we're using a dataset of US holidays where each month is a separate Data Item. In this example, we're
        creating a dataset in our `_config.yml` as follows:

        ```yaml
        datasets:
          - name: calendar
            folder: _datasets/calendar
        ```

        Then each month is a separate YAML file inside of the "calendar" directory and is accessible as: `data.calendar.january`
    {% endmarkdown %}

    <hr>

    <div class="row">
        {% for i in range(1, 12) %}
            <div class="col-md-3">
                {{ _self.calendar('2020-' ~ i, data.calendar) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
