---
collection: books
permalink: /books/%isbn/
author: %fname %lname
---

{% extends '_layouts/base.html.twig' %}

{% block header %}
    <h1 class="text-capitalize">
        {{ this.title }}
    </h1>
{% endblock %}

{% block content %}
    <article>
        <p class="mb-0"><strong>Author:</strong> {{ this.author }}</p>
        <p class="mb-0"><strong>ISBN:</strong> {{ this.isbn }}</p>
        <p class="mb-0"><strong>Pages:</strong> {{ this.pages }}</p>

        <section  class="mt-4">
            {{ this.content }}
        </section>
    </article>
{% endblock %}
