---
collection: books
permalink: /books/%isbn/
author: %fname %lname
---

{% extends '_layouts/base.html.twig' %}

{% block content %}
    <article>
        <p><strong>{{ this.title }}</strong></p>
        <p><small>{{ this.author }}</small></p>
        <p><strong>ISBN:</strong> {{ this.isbn }}</p>
        <p><strong>Pages:</strong> {{ this.pages }}</p>

        <section>
            {{ this.content }}
        </section>
    </article>
{% endblock %}
